.a-btn{
    background: linear-gradient(top, #feda71 0%,#febb4a 100%);
    border: 1px solid #f5b74e;
    border-color: #f5b74e #e5a73e #d6982f;
    box-shadow: 0 1px 1px #d3d3d3, inset 0 1px 0 #fee395;  
    padding: 0px 80px 0px 10px;
    height: 38px;
    display: inline-block;
    position: relative;
    border-radius: 4px;
    float: left;
    margin: 10px;
    overflow: hidden;
    transition: all 0.3s linear;
}
.a-btn-text{
    padding-top: 5px;
    display: block;
    font-size: 18px;
    white-space: nowrap;
    color: #996633;
    text-shadow: 0 1px 0 #fedd9b;
    transition: all 0.3s linear;
}
.a-btn-slide-text{
    position:absolute;
    top: 35px;
    left: 0px;
    width: auto;
    right: 52px;
    height: 0px;
    background: #fff;
    color: #996633;
    font-size: 13px;
    white-space: nowrap;
    font-family: Georgia, serif;
    font-style: italic;
    text-indent: 15px;
    overflow: hidden;
    line-height: 30px;
    box-shadow: 
        -1px 0px 1px rgba(255,255,255,0.4), 
        1px 1px 1px rgba(0,0,0,0.5) inset;
    transition: height 0.3s linear;
}
.a-btn-icon-right{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 52px;
    border-left: 1px solid #f5b74e;
    box-shadow: 1px 0px 1px rgba(255,255,255,0.4) inset;
}
.a-btn-icon-right span{
    width: 38px;
    height: 38px;
    opacity: 0.7;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -20px 0px 0px -20px;
    background: transparent url(CODE.GEASS) no-repeat 50% 55%;
    transition: all 0.3s linear;
}